/* 全体 */

body{
    background-color: #171a32;    
    color: whitesmoke;
    font-family :sans-serif,serif;
    line-height:1.5;
}

.input{
    width: 80%;
    height: 2.5rem;
}

a {
  text-decoration:none;
}

a:visited {
  color:silver;
}

  /* 主にinput */
  .form {
    -webkit-appearance: none;
      width:77px;

  }

  button {
    -webkit-appearance: none;
  }

  select{
      height:2.5rem;
      margin: 5px 0;
      text-align: center;
      margin: 10px 20px 10px 0;
  }

  .container{
      display:flex;
  }

  .register{
      width:80%;
      height:30px
  }


  /* 主にRead */

      .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
      }

      .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 8px 8px;
        transition: 0.3s;
        font-size: 15px;
      }

      .tab button:hover {
        background-color: #ddd;
      }

      .tab button.active {
        background-color: #ccc;
      }

      .tabcontent {
        display: none;
        padding: 6px 24px;
        border: 1px solid #ccc;
        border-top: none;
      }

      th {
        text-align: left;
        border-bottom: solid 1px lightgray;      }

      td {
        font-size: 14px;
      }

      .itemColumn {
        width: 8.5rem;
      }

      .priorityColumn {
        width: 4.5rem;
      }

      .my-white{
          color: whitesmoke;
      }