  
  /* 主にinput */
  .form {
    -webkit-appearance: none;
  }

  button {
    -webkit-appearance: none;
  }



  /* 主にRead */

      .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #f1f1f1;
      }

      .tab button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        font-size: 15px;
      }

      .tab button:hover {
        background-color: #ddd;
      }

      .tab button.active {
        background-color: #ccc;
      }

      .tabcontent {
        display: none;
        padding: 6px 24px;
        border: 1px solid #ccc;
        border-top: none;
      }

      th {
        text-align: left;
      }

      td {
        font-size: 14px;
      }

      .itemColumn {
        width: 8.5rem;
      }

      .priorityColumn {
        width: 4.5rem;
      }